* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #c29db2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;


}
.child-con {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  padding: 5px 0px;
  color: #8B406C;
  margin: 25px;
}
#main {
  margin: 100px 20px;
}
.highlight {
  background-color: #fcc4e3;
}

.error {
  background-color: lightcoral;
  border: red;
}
#start {
  background-color: #8B406C;
  color: #FFFFFF;
  padding: 5px;
  border: 1px #8B406C solid;
  border-radius: 5px;
  width: 220px;
}
p {
  width: 80%;
  margin: 20px auto;
}
#typing {
  text-align: center;
}
#typed-value {
  margin: 1rem;
  border-color: #d8c6d0;
  border-style: solid;
}
#quote {
  border: 1px solid #d8c6d0;
  padding: 10px;
}
