* {
  margin: 0;
  padding: 0;
}
/* body {
  background-color: rgb(238, 253, 235);
} */
#nav {
  width: 100%;
  height: 3rem;
  background-color: coral;
}
#nav > h3 {
  color: rgb(238, 253, 235);
  padding-top: 10px;
  padding-left: 10px;
}
#brand {
  color: darkgreen;
}
h1 {
  text-align: center;
  padding: 5px 0px;
  color: coral;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 253, 235);
}
.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
#start {
  background-color: coral;
  color: rgb(248, 243, 238);
  padding: 5px;
  border: 1px coral solid;
  border-radius: 1rem;
  width: 250px;
}
p {
  margin: 1rem;
}
#typing {
  text-align: center;
}
#typed-value {
  margin: 1rem;
}
#quote {
  border: 1px solid coral;
  padding: 10px;
}
